.form {
    display: grid;
    padding: 50px 0;

    // &:not( :last-child) {
    //     margin-bottom: 20px;
    // }

    &-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    &-text {
        flex-grow: 1;
    }

    &-btn {
        all: unset;
        max-width: 240px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 10px 20px;
        background-color: teal;
        color: $color-white;
    }
}